<h1><%= @costumer.name %></h1>

<dl>
  <dt><%= Costumer.human_attribute_name :name %></dt>
  <dd><%= @costumer.name %></dd>
  <dt><%= Costumer.human_attribute_name :cpf %></dt>
  <dd><%= @costumer.cpf %></dd>
  <dt><%= Costumer.human_attribute_name :email %></dt>
  <dd><%= @costumer.email %></dd>
</dl>

<%= link_to 'Voltar', costumers_path %>