<header>
  <h1>Rental Cars</h1>
  <h3>Bem vindo ao sistema de gestão de locação</h3>
</header>

<div>
  <% if user_signed_in? %> <!--- método do devise --->
    <%= current_user.name %> <!--- método do devise --->
    <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Entrar',  new_user_session_path %>
  <% end %>
</div>

<nav>
  <ul>
    <li><%= link_to 'Clientes', customers_path %></li>
    <li><%= link_to 'Categorias', car_categories_path %></li>
    <li><%= link_to 'Filiais', subsidiaries_path %></li>
    <li><%= link_to 'Modelos de carro', car_models_path %></li>
  </ul>
</nav>


