<%= form_with model: @customer, local:true do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :cpf, 'CPF' %>
    <%= f.text_field :cpf %>
  </div>
  <div>
    <%= f.label :email, 'E-mail' %>
    <%= f.text_field :email %>
  </div>s
  <%= f.submit 'Enviar' %>
<% end %>